/* Created Spamol */
@media only screen and (min-width: 1024px) {
	body .wrapSmall ul.mainMenu{display: block !important;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mainPage {
        margin-bottom:140px
    }

    header .wrapBig {
        min-width: 768px;
        width: 100%;
        max-width: 1024px
    }

    header .wrapBig .logo {
        float: left;
        width: 39%
    }

    header .wrapBig .socialButton {
        float: left;
        width: 59%
    }

    header .wrapBig .socialButton ul {
        margin-right: 120px
    }

    .wrapSmall {
        width: 100%;
        max-width: 1024px
    }

    .wrapSmall ul.mainMenu {
        display: none;
        position: absolute;
        top: 92px;
        right: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
        overflow: visible
    }

    .wrapSmall ul.mainMenu:before {
        content: '';
        display: block;
        background: url("../img/strMenu.jpg") no-repeat 0 0;
        position: absolute;
        z-index: 1000;
        width: 30px;
        height: 15px;
        top: -17px;
        right: 40px
    }

    .wrapSmall .contacts {
        position: absolute;
        bottom: 82px;
        width: 100%;
        border-radius: 0
    }

    .wrapSmall .contacts div a{
        float: left;
        padding: 14px 0;
        width: 33.3333333333%;
        text-align: center
    }

    .wrapSmall .contacts div.titleCont {
        display: none
    }

    .wrapSmall .contacts div.emailCont a{
        background-position: 13% 8px;
        padding-left: 0;
        background-color: #41b9d4
    }

    .wrapSmall .contacts div.telCont a{
        background-position: 16% -31px;
        padding-left: 0;
        background-color: #48cbe8
    }

    .wrapSmall .contacts div.skypeCont a{
        background-position: 20% -71px;
        padding-left: 0;
        background-color: #51daf8
    }

    .mainContent {
        width: 700px;
        float: none;
        margin: 0 auto
    }

    .openMobileMenu {
        display: block;
        background: url("../img/mobileMenu.jpg") no-repeat 0 0;
        height: 22px;
        width: 28px;
        position: absolute;
        right: 40px;
        top: 48px;
        cursor: pointer
    }

    .projects {
        padding: 33px 63px 0
    }

    .projects .project {
        width: 230px;
        height: 235px;
        margin: 0 25px 35px
    }

    .projects .project .picProject {
        width: 225px;
        height: 158px
    }

    .projects .project .picProject .nameProject {
        width: 205px;
        height: 158px
    }

    .projects .project .picProject .nameProject div {
        width: 205px
    }

    .projects .project .picProject.addProject a {
        background: url("../img/addProject.jpg") no-repeat center 55px;
        padding-top: 98px
    }
    .projects .project .picProject img{width: 100%}

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    html {
        -webkit-text-size-adjust:none
    }

    .mainPage {
        margin-bottom: 303px
    }

    .mainPage .socialButtonMobi {
        display: block;
        position: absolute;
        bottom: 90px;
        width: 100%
    }

    .mainPage .socialButtonMobi ul {
        margin: 0;
        padding: 0
    }

    .mainPage .socialButtonMobi li {
        list-style-type: none;
        float: left;
        width: 25%
    }

    .mainPage .socialButtonMobi li a {
        display: block;
        width: 45px;
        height: 45px;
        margin: 0 auto;
        border-radius: 22px;
        background: #3ba8c0
    }

    .mainPage .socialButtonMobi li a span {
        font-size: 0;
        display: block;
        height: 45px;
        background: url("../img/socialSprite.png") no-repeat
    }

    .mainPage .socialButtonMobi li a span.vk {
        background-position: 7px 15px
    }

    .mainPage .socialButtonMobi li a span.tw {
        background-position: 11px -21px
    }

    .mainPage .socialButtonMobi li a span.fb {
        background-position: 14px -65px
    }

    .mainPage .socialButtonMobi li a span.git {
        background-position: 10px -111px
    }

    header .wrapBig {
        min-width: 320px;
        width: 100%;
        max-width: 767px
    }

    header .wrapBig .logo {
        float: left;
        width: 39%;
        padding: 13px 0
    }

    header .wrapBig .logo a img {
        width: 140px
    }

    header .wrapBig .socialButton {
        display: none
    }

    .wrapSmall {
        width: 100%;
        max-width: 767px
    }

    .wrapSmall ul.mainMenu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
        width: 100%;
        border-radius: 0
    }

    .wrapSmall ul.mainMenu li {
        border-bottom: 1px solid #8096ad
    }

    .wrapSmall ul.mainMenu li a {
        padding: 8px 0;
        text-align: center;
        border: 0
    }

    .wrapSmall ul.mainMenu li a:hover {
        border: 0
    }

    .wrapSmall .contacts {
        position: absolute;
        bottom: 160px;
        width: 100%;
        border-radius: 0
    }

    .wrapSmall .contacts div a{
        padding: 10px 0;
        text-align: center
    }

    .wrapSmall .contacts div.titleCont {
        display: none
    }

    .wrapSmall .contacts div.emailCont a{
        background-position: 25% 4px;
        padding-left: 0;
        background-color: #41b9d4
    }

    .wrapSmall .contacts div.telCont a{
        background-position: 25% -35px;
        padding-left: 0;
        background-color: #48cbe8
    }

    .wrapSmall .contacts div.skypeCont a{
        background-position: 25% -74px;
        padding-left: 0;
        background-color: #51daf8
    }

    .openMobileMenu {
        display: block;
        background: url("../img/mobileMenu.jpg") no-repeat 0 0;
        height: 22px;
        width: 28px;
        position: absolute;
        right: 18px;
        top: 19px;
        cursor: pointer
    }

    .mainContent {
        width: 100%;
        float: none;
        margin: 0 auto
    }

    .mainContent section h1 {
        text-align: center
    }

    .mainContent section h1 span {
        padding: 0;
        border: 0;
        font-size: 90%
    }

    .mainContent section .aboutMe {
        text-align: center;
        padding: 0
    }

    .mainContent section .aboutMe .aboutMeAvatar {
        float: none;
        margin: 0 auto 20px;
        width: 142px
    }

    .mainContent section .aboutMe .aboutMeAvatar div {
        width: 132px;
        height: 132px;
        border-radius: 71px
    }

    .mainContent section .aboutMe .aboutMeAvatar div img {
        border-radius: 68px;
        height: 132px
    }

    .mainContent section .aboutMe .aboutMeInfo {
        margin: 0 auto;
        float: none
    }

    .mainContent section .aboutMe .aboutMeInfo div {
        line-height: 20px
    }

    .mainContent section .aboutMe .aboutMeInfo div span {
        display: block
    }

    .mainContent section .aboutMe .aboutMeInfo div p.skills {
        float: none;
        margin: 0 auto
    }

    .mainContent section .works {
        padding: 0 25px
    }

    .mainContent section .works .work,.mainContent section .works .learn,.mainContent section .works .course {
        text-align: center;
        background-position: center -7px;
        padding-top: 45px
    }

    .mainContent section .works .work h2,.mainContent section .works .learn h2,.mainContent section .works .course h2,.mainContent section .works .work p,.mainContent section .works .learn p,.mainContent section .works .course p {
        padding-left: 0
    }

    .mainContent section .works .learn {
        background-position: center -95px
    }

    .mainContent section .works .course {
        background-position: center -207px
    }

    .mainContent section h1.blueTitle {
        padding: 20px
    }

    .feedback {
        width: 262px
    }

    .feedback div.blockFloat {
        float: none;
        width: auto
    }

    .feedback input,.feedback textarea {
        width: 246px
    }

    .feedback label.error {
        right: 4px
    }


    .feedback .captcha .captchaCode {
        width: 126px;
        float: left
    }

    .feedback .captcha .captchaCode img {
        width: 126px
    }

    .feedback .captcha .captchaInput {
        width: 112px;
        float: left
    }

    .feedback .captcha .captchaInput input {
        width: 99px
    }

    .feedback input.submitFeedback,.feedback input.clearFeedback {
        width: 105px
    }

    .feedback input.clearFeedback {
        margin-right: 4px
    }

    .projects {
        padding: 33px 40px 0
    }

    .projects .project {
        float: none;
        width: 230px;
        height: 235px;
        margin: 0 auto 35px
    }

    .projects .project .picProject {
        width: 225px;
        height: 158px
    }

    .projects .project .picProject .nameProject {
        width: 205px;
        height: 158px
    }

    .projects .project .picProject .nameProject div {
        width: 205px
    }

    .projects .project .picProject.addProject a {
        background: url("../img/addProject.jpg") no-repeat center 55px;
        padding-top: 98px
    }
    .projects .project .picProject img{width: 100%}
	.feedback #respServer{
    	font-size: 15px;
    	top:-30px;
    }
    .popupAddWork .popupHead{
        padding-left:28px; 
    }
    #closePopup{
        right: 30px;
    }
}
